@model ContactViewModel;
@{
    ViewData["Title"] = Model.Title;
}


<section id="contact">
    <div class="container">
        <div class="nav-links">
            <a class="home" asp-controller="Home" asp-action="Index"><i class="fa-light fa-house"></i>Home</a>
            <span>>></span>
            <a class="contact" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
        <div class="contact-content">
            <h1 class="gray-900">@Model.Title</h1>
            <div class="contact-group">
                <div class="contact-icon">
                    <i class="fa-light fa-envelope"></i>

                </div>
                <div class="contact-email">
                    <h2 class="h5">@Model.ContactUs.EmailTitle</h2>
                    <p class="gray-700">@Model.ContactUs.EmailDescription</p>
                    <button class="btn-gray" type="submit">@Model.ContactUs.EmailLink<i class="fa-regular fa-arrow-right"></i></button>
                </div>
            </div>

            <div class="contact-group">
                <div class="contact-icon">
                    <i class="fa-light fa-users-medical"></i>

                </div>
                <div class="contact-career">
                    <h2 class="h5">@Model.ContactUs.CareerTitle</h2>
                    <p class="gray-700">@Model.ContactUs.CareerDescription</p>
                    <button class="btn-gray" type="submit">@Model.ContactUs.CareerLink<i class="fa-regular fa-arrow-right"></i></button>
                </div>
            </div>
        </div>



    </div>
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6310.726896569586!2d-122.40475849454786!3d37.734616850745226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7f02449cda7b%3A0x56b4d414afddd65!2sSilver%20Terrace%2C%20San%20Francisco%2C%20Kalifornien%2094124%2C%20USA!5e0!3m2!1ssv!2sse!4v1709129976431!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>