@model AccountDetailsViewModel;
@{
    ViewData["Title"] = Model.Title;
}

<section id="account">
    <div class="container">
        <div class="account-nav">
            <div class="nav-image">
                <img src="#" alt="User Image" />
            </div>
            <div class="nav-name-info">
                <h2 class="h5 gray-900">@Model.AccountBasic.FirstName @Model.AccountBasic.LastName</h2>
                <p class="gray-700">@Model.AccountBasic.Email</p>
            </div>
            <div class="nav-buttons">
                <a asp-controller="Account" asp-action="Index" class="btn-theme"><i class="fa-regular fa-gear"></i>Account Details</a>
                <a asp-controller="Account" asp-action="Security" class="btn-gray"><i class="fa-regular fa-lock"></i>Security</a>
                <a asp-controller="Account" asp-action="SavedItems" class="btn-gray"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                <a asp-controller="Account" asp-action="LogOut" class="btn-gray"><i class="fa-light fa-right-from-bracket"></i>Sign Out</a>
            </div>
        </div>
        <div class="account-details">
            <h1 class="h2">@Model.Title</h1>
            <form class="basic" method="post" asp-controller="Account" asp-action="Basic" novalidate>
                <h3 class="h5">@Model.AccountBasic.Title</h3>
                <div class="basic-content">
                    <div id="basic-firstname" class="basic-group">
                        <label asp-for=AccountBasic.FirstName></label>
                        <span asp-validation-for="AccountBasic.FirstName"></span>
                        <input asp-for="AccountBasic.FirstName" />
                    </div>
                    <div id="basic-lastname" class="basic-group">
                        <label asp-for=AccountBasic.LastName></label>
                        <span asp-validation-for="AccountBasic.LastName"></span>
                        <input asp-for="AccountBasic.LastName" />
                    </div>
                    <div id="basic-email" class="basic-group">
                        <label asp-for="AccountBasic.Email"></label>
                        <span asp-validation-for="AccountBasic.Email"></span>
                        <input asp-for="AccountBasic.Email" />
                    </div>
                    <div id="basic-phone" class="basic-group">
                        <label asp-for="AccountBasic.Phone"></label>
                        <input asp-for="AccountBasic.Phone" />
                    </div>
                    <div id="basic-bio" class="basic-group">
                        <div class="opt">
                        <label asp-for="AccountBasic.Bio"></label>
                        <p class="gray-600"> (optional)</p>
                        </div>
                        <textarea class="bio-input" asp-for="AccountOptionals.Bio"></textarea>
                    </div>
                </div>
                <div class="basic-buttons">
                    <button class="btn-gray" type="reset">Cancel</button>
                    <button class="btn-theme" type="submit">Save Changes</button>
                </div>
            </form>

            <form class="address" method="post" asp-controller="Account" asp-action="Address" novalidate>
                <h4 class="h5">@Model.AccountAddress.Title</h4>
                <div class="address-content">
                    <div id="address-line1" class="address-group">
                        <label asp-for=AccountAddress.AddressLine1></label>
                        <input asp-for="AccountAddress.AddressLine1" />
                    </div>
                    <div id="address-line2" class="address-group">
                        <label asp-for=AccountAddress.AddressLine2></label>
                        <input asp-for="AccountOptionals.SecAddressLine" />
                    </div>
                    <div id="address-postalcode" class="address-group">
                        <label asp-for="AccountAddress.PostalCode"></label>
                        <input asp-for="AccountAddress.PostalCode" />
                    </div>
                    <div id="address-city" class="address-group">
                        <label asp-for="AccountAddress.City"></label>
                        <input asp-for="AccountAddress.City" />
                    </div>
                </div>
                <div class="address-buttons">
                    <button class="btn-gray" type="reset">Cancel</button>
                    <button class="btn-theme" type="submit">Save Changes</button>
                </div>
            </form>

        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Shared/_validationScriptPartial.cshtml")
