@model CoursesViewmodel

@{
    ViewData["Title"] = Model.Title;
}


<section id="courses">
    <div class="container">
        <div class="nav-links">
            <a class="home" asp-controller="Home" asp-action="Index"><i class="fa-light fa-house"></i>Home</a>
            <span>>></span>
            <a class="navcourses" asp-controller="Course" asp-action="Index">Courses</a>
        </div>
        <div class="heading">
            <h1>@Model.Title</h1>
            <div class="search">
                <form method="get" action="@Url.Action("Index", "Course")">
                    <select id="categorySelect" name="category">
                        <option value="">All Categories</option>
                        <option value="1">Best Sellers</option>
                        <option value="2">Discounted courses</option>
                    </select>
                    <input type="text" name="searchString" placeholder="Search courses" />
                    <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                </form>
                </div>
        </div>
        <div class="course-grid">
            <div class="course-item">
                @foreach (var course in Model.Courses)
                {
                    <a class="course-box" asp-action="SingleCourse" asp-controller="Course" asp-route-id="@course.Id">
                       <div class="image-and-best">
                        <img class="main-image" src=@course.CoursePictureUrl />


                            <form asp-controller="Course" asp-action="SaveCourse" method="post">
                                <input type="hidden" name="CourseId" value="@course.Id" /> 
                                <button class="bookmark" type="submit" title="Save Course"><i class="fa-regular fa-bookmark"></i></button>
                            </form>
                        
                            
                            @if(course.IsBestSeller== true)
                            {
                                <article>
                                    <img class="best" src ="~/images/CoursesImages/badge.svg" />
                                </article>
                            }
                        </div>
                        <h2 class="h5">@course.Title</h2>
                        <p class="text-s">By @course.Author</p>
                        <div class="price-and-discount">
                            @if(course.DiscountPrice != null)
                            {
                                <p class="discount">$@course.DiscountPrice</p>
                                <p class="price-crossed">$@course.Price</p>
                            }
                            else{
                            <p class="price">$@course.Price</p>
                            }
                        </div>
                        <div class="end-line"></div>
                        <div class="course-footer">
                            <div class="time">
                                <i class="fa-regular fa-clock"></i>
                                <p class="text-s">@course.Hours Hours</p>
                                </div>
                            <div class="likes">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p class="text-s">@String.Format("{0:0.##}%", course.LikesInPercent) @String.Format("({0:0.0#}K)", course.LikesInNumbers)</p>
                            </div>
                         </div>
                    </a>
                }
            </div>
        </div>
        <div class="pagination">
            <ul class="pagination-list">
                @if (Model.Pagination.TotalPages > 1)
                {
                    @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                    {
                        <li class="pagination-item @(i == Model.Pagination.CurrentPage ? "active" : "")">
                            <a href="@Url.Action("Index", "Course", new { pageNumber = i, pageSize = Model.Pagination.PageSize })">@i</a>
                        </li>
                    }
                }
            </ul>
        </div>



    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/_selectCategory.cshtml")

