@model CoursesViewmodel

@{
    ViewData["Title"] = Model.Title;
}


<section id="courses">
    <div class="container">
        <div class="nav-links">
            <a class="home" asp-controller="Home" asp-action="Index"><i class="fa-light fa-house"></i>Home</a>
            <span>>></span>
            <a class="navcourses" asp-controller="Course" asp-action="Index">Courses</a>
        </div>
        <div class="heading">
            <h1>@Model.Title</h1>
            <div class="search">
                <select>
                    <option value="">All Categories</option>
                    <option value="1">Tech</option>
                    <option value="2">Development</option>
                    <option value="3">Production</option>
                </select>

                <input type="text" placeholder="Search courses" />
                <i class="fa-regular fa-magnifying-glass"></i>

            </div>
        </div>
        <div class="course-grid">
            <div class="course-item">
                @foreach (var course in Model.Courses)
                {
                    <div class="course-box">
                       <div class="image-and-best">
                        <img class="main-image" src=@course.CoursePictureUrl />
                            <button class="bookmark" asp-controller="Course" asp-action="SaveCourse"><i class="fa-regular fa-bookmark"></i> </button>
                            @if(course.IsBestSeller== true)
                            {
                                <article>
                                    <img class="best" src ="~/images/CoursesImages/badge.svg" />
                                </article>
                            }
                        </div>
                        <h2 class="h5">@course.Title</h2>
                        <p class="text-s">By @course.Author</p>
                        <div class="price-and-discount">
                            @if(course.DiscountPrice != null)
                            {
                                <p class="discount">$@course.DiscountPrice</p>
                                <p class="price-crossed">$@course.Price</p>
                            }
                            else{
                            <p class="price">$@course.Price</p>
                            }
                        </div>
                        <div class="end-line"></div>
                        <div class="course-footer">
                            <div class="time">
                                <i class="fa-regular fa-clock"></i>
                                <p class="text-s">@course.Hours Hours</p>
                                </div>
                            <div class="likes">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p class="text-s">@String.Format("{0:0.##}%", course.LikesInPercent) @String.Format("({0:0.0#}K)", course.LikesInNumbers)</p>
                            </div>
                         </div>
                    </div>
                }
            </div>
        </div>



    </div>
</section>


